@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.title{
    padding-top: 5%;
}

h3{
    margin-right: 20%;
    margin-left: 20%;
}

hr {
    border: 1px solid black;
    border-bottom: none;
    width: 50%;
    margin: 50px auto;
}

.hr2{
    border: 1px solid black;
    border-bottom: none;
    width: 25%;
    margin: 50px auto;
}